{% extends 'base.html' %}

{% block title %} 
    Register 
{% endblock %}

{% block content %}
    <h2>You have successfully rendered a view in a base template!</h2>
        <div class="register-form">
            <form method="POST">
                {% csrf_token %}
                <label for="your_username">Your name: </label>
                <input id="your_name" type="text" name="your_name" value="{{ form }}">
                <button type="submit">Register</button>
            </form>
        </div>    
{% endblock %}