{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="login-form">
    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="text" name="password" id="password" required>
        </div>
        
    </form>
    {% if error_message %}
    <p class="error">{{ error_message }}</p>
    {% endif %}
    <button type="submit">Login</button>
</div>
{% endblock %}