@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Radio Canada", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin: 0;
}

.header {
    padding: 60px;
    text-align: center;
    background-image: linear-gradient(to right, #CEDCFF, #D3CBFA, #F4BAD6, #FFCDAD, #FFE5AD);
    color: black;
}

.navbar {
    display: flex;
    border: black solid 2px;
    background-color: white;
}

.li {
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    list-style-type: none;
    padding: 0;
}

.list-item a:hover {
    background-color: whitesmoke;
    border: black solid 1px;
}

/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 30%;
    background-color: whitesmoke;
    padding: 20px;
}

.main {
    flex: 70%;
    border: black solid 3px;
    background-color: whitesmoke;
    padding: 20px;
}

.footer {
    border: white solid 3px;
    padding: 20px;
    color: black;
    text-align: center;
    background-image: linear-gradient(to right, #CEDCFF, #D3CBFA, #F4BAD6, #FFCDAD, #FFE5AD);
}

/* sample css modal styling */
.modal-fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}

.modal-dialog {
    margin: 15% auto;
    width: 90%;
    max-width: 500px;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

/* modal styling end */
.btn-disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {

    .row,
    .navbar {
        flex-direction: column;
    }
}