{% load static %}

{% url 'index' as home_url %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starplanner!</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Hi! I'm your Starplanner! I'm here to help you! you have successfully rendered me in template form!</h1>
    <script src="{% static 'js/script.js' %}"></script>
    <!--- <img src="{% static 'images/yourimage.png' %}" alt=""> --->
</body>
</html>