{% load static %}

{% url 'home' as home_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Starplanner {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'starplanner/CSS/styles.css' %}">
</head>

<body>
    <div class="header">
        <h1>Welcome to Starplanner!</h1>
        <p>Designed with <b>you</b> in mind!</p>
    </div>
    <nav class="navbar">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page" href="{% url 'account_logout' %}">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                    href="{% url 'account_signup' %}">Register</a>
                </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page" href="{% url 'account_login' %}">Login</a>
            </li>
        {% endif %}
    </nav>
    <main class="main">
        {% if user.is_authenticated %}
            <p>You are logged in as {{ user.username }}</p>
        {% else %}
            <p>If you have not already logged in, Please log in. If you have logged in</p>
            <a href="{% url 'read' %}">Go to the planner</a>
            <!--<p>Do you want to register or sign in?</p>
            <a href="{% url 'account_login' %}">Login</a>
            <a href="{% url 'account_signup' %}">Register</a>-->
        {% endif %}
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>
    <footer class="footer">
        <p>This is Portfolio Project 4. Made by Bethan Cottell</p>
    <!---<script src="{% static 'js/script.js' %}"></script>
     <img src="{% static 'images/yourimage.png' %}" alt=""> -->
    </footer>
</body>

</html>